		</div>

		<!-- Footer -->
		

		<!-- Copyright -->
		<div id="copyright">
			<ul>
				<li>&copy; {{ site.title }}</li>
				<li>Design: <a href="http://ruttaphong.github.io">Ruttaphong</a></li>
			</ul>
		</div>

		</div>

		
		<!-- Scripts -->
		<!-- <script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
		<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
		<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
		<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
		<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
		<script src="{{ "assets/js/main.js" | absolute_url }}"></script> -->

		<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
		
		<!-- jQuery first, then Tether, then Bootstrap JS. -->
    	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/npm.js"></script>

    	