<head>
		<title>{{ site.title }} {{ site.subtitle }}</title>
		<meta charset="utf-8" />
		
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />

		
		<!-- <link rel="stylesheet" href="{{ 'assets/css/noscript.css' | relative_url }}" /> -->
		
		<!-- bootstrap -->
		    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

			<link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}" />

			<script src="https://use.fontawesome.com/323b73c595.js"></script>
		<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" /> -->
		<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.css" /> -->
		<!-- jquery -->
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
		<!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script> -->

		<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">  -->
		<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all"> -->


		<!-- <noscript><link rel="stylesheet" href="{{ 'assets/css/noscript.css' | relative_url }}" /></noscript> -->


		<!-- <script type="text/javascript">
			window.onload=function(){
			$(document).scroll(function(e){
			    var scrollTop = $(document).scrollTop();
			    if(scrollTop > $(window).height()-60){
			        console.log(scrollTop);
			        $('.navbar').removeClass('navbar-static-top').addClass('navbar-fixed-top');
			        $('.navbar').removeClass('topnav');
			    } else {
			        $('.navbar').removeClass('navbar-fixed-top').addClass('navbar-static-top');
			        $('.navbar').addClass('topnav');
			    }
			});
			}
		</script> -->

</head>
