<section>
	<div class="row">
	<h3 align="center">Bangkok Impress Family</h3>
	</div>
</section>

<section>

	<div class="row marketing">
		
		{% assign work = site.work | sort:"num" %}
		{% for node in work %}
			{% if node.layout == "subpage" %}
		  		<div class="col-lg-3">
				    <a href="{{ node.url  | absolute_url }}" class="image fit"><img src="{{ node.image | relative_url }}" width="100px" alt="" /></a>
				    <!-- <b><center><a href="{{ node.url | absolute_url }}">{{ node.title }}</a></center></b> -->
				    <p>{{ node.description }}</p>
				</div>
			{% endif %}
		{% endfor %}

	</div>
</section>