<div class="container">
	<div class="row">
	<h3>Bangkok Impress Family</h3>
	</div>
	<div class="row">
    	{% assign work = site.work | sort:"num" %}
		{% for node in work %}
		<div class="col-md-3 d-flex align-items-stretch">
			<div class="card">
				{% if node.layout == "subpage" %}
					<a href="{{ node.url  | absolute_url }}" ><img class="card-img-top" src="{{ node.image | relative_url }}" alt="Card image cap" style="background-color: white"></a>
					<div class="card-body">
						<!-- <h4 class="card-title">Card title</h4> -->
						<p class="card-text">{{ node.description }}</p>
					</div>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
</div>