<!DOCTYPE html>
<html>
{% include head.html %}
<body class="is-loading">
<div id="wrapper">
	
	{% include header.html %}
	{% include menu.html %}
		<div class="container" style="background-color: white; padding: 20px; margin-top: -1em">
			{% if page.image %}
            <!-- <div class="image main"> -->
            	<center><img src="{{ page.image | relative_url }}" width="45%" alt="" /></center>
        	<!-- </div> -->
        	{% endif %}
		{{ content }}
		{% include subLogo.html %}
		</div>

	{% include footer.html %}
</div>
</body>
</html>